﻿@page "/"
@using System.Threading

<h1>Bienvenido al portal de Mi Casa IoT</h1>
@if (datos != null)
{
    <RadzenCard>
        <h2>MQTT</h2>
        <div class="container-fluid">
            <div class="row">
                Mensaje recibido: @mensaje
            </div>
            <div class="row">
                <div class="col-xs-8 col-md-4">
                    <RadzenButton Text="Encender Luces" Click="@((args)=>EnviarComando("L1"))" ButtonStyle="ButtonStyle.Success" />
                </div>
                <div class="col-xs-8 col-md-4">
                    <RadzenButton Text="Apagar Luces" Click="@((args)=>EnviarComando("L0"))" ButtonStyle="ButtonStyle.Danger" />
                </div>
                <div class="col-xs-8 col-md-4">
                    <RadzenButton Text="Solicitar Valores" Click="@((args)=>EnviarComando("?V"))" ButtonStyle="ButtonStyle.Secondary" />
                </div>
            </div>
            <div class="row">
                <p>
                    Ángulo a enviar: <RadzenNumeric @bind-Value=@angulo TValue="int" Min="0" Max="180" Style="width: 100px"/> 
                <RadzenButton Text="Mover Servo" Click="@EnviarAngulo" ButtonStyle="ButtonStyle.Secondary" />
                </p>
        </div>
        </div>
    </RadzenCard>
    <RadzenCard>
        <h2>Ultimo dato ingresado</h2>
        <p>Total de datos: @datos.Count</p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <RadzenCard>
                        <h3>Temperatura</h3>
                        <p>@ultimo.Temperatura °C</p>
                    </RadzenCard>
                </div>
                <div class="col-xs-6 col-md-3">
                    <RadzenCard>
                        <h3>Humedad</h3>
                        <p>@ultimo.Humedad %</p>
                    </RadzenCard>
                </div>
                <div class="col-xs-6 col-md-3">
                    <RadzenCard>
                        <h3>Luminosidad</h3>
                        <p>@ultimo.Luminosidad</p>
                    </RadzenCard>
                </div>
                <div class="col-xs-6 col-md-3">
                    <RadzenCard>
                        <h3>Luces</h3>
                        @if (ultimo.LucesEncendidas)
                        {
                            <p>Encendidas</p>
                        }
                        else
                        {
                            <p>Apagadas</p>

                        }

                    </RadzenCard>
                </div>
            </div>
        </div>
    </RadzenCard>

    <RadzenCard>
        <h2>Gráfico</h2>
        <RadzenChart>
            <RadzenLineSeries Data="@datos" CategoryProperty="FechaHora" Title="Temperatura" LineType="LineType.Solid" ValueProperty="Temperatura">
                <RadzenMarkers MarkerType="MarkerType.Circle" />
            </RadzenLineSeries>
            <RadzenLineSeries Data="@datos" CategoryProperty="FechaHora" Title="Humedad" LineType="LineType.Solid" ValueProperty="Humedad">
                <RadzenMarkers MarkerType="MarkerType.Diamond" />
            </RadzenLineSeries>
        </RadzenChart>
        <RadzenChart>
            <RadzenLineSeries Data="@datos" CategoryProperty="FechaHora" Title="Luminosidad" LineType="LineType.Solid" ValueProperty="Luminosidad">
                <RadzenMarkers MarkerType="MarkerType.Triangle" />
            </RadzenLineSeries>
        </RadzenChart>
    </RadzenCard>

    <RadzenCard>
        <h2>Tabla de datos</h2>
        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="20" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@datos" TItem="Lectura" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
            <Columns>
                <RadzenDataGridColumn TItem="Lectura" Property="FechaHora" Title="Fecha Hora" Filterable=true Width="70px" />
                <RadzenDataGridColumn TItem="Lectura" Property="Temperatura" Title="Temperatura (°C)" Filterable=true Width="70px" />
                <RadzenDataGridColumn TItem="Lectura" Property="Humedad" Title="Humedad (%)" Filterable=true Width="70px" />
                <RadzenDataGridColumn TItem="Lectura" Property="Luminosidad" Title="Luminosidad" Filterable=true Width="70px" />
                <RadzenDataGridColumn TItem="Lectura" Property="LucesEncendidas" Title="Luces Encendidas" Filterable=true Width="70px" />
            </Columns>
        </RadzenDataGrid>
    </RadzenCard>
}
else
{
    <p>Cargando...</p>
}

@code {
    List<Lectura> datos;
    Lectura ultimo;
    int angulo;
    string mensaje;
    Timer timer;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        mqtt.MensajeRecibido += MensajeRecibido;
        timer = new Timer((_) =>
        {
            datos = dalnube.ObtenerTodasLasLecturas.OrderBy(d => d.FechaHora).ToList();
            ultimo = datos.OrderByDescending(d => d.FechaHora).First();
            InvokeAsync(() =>
            {
                StateHasChanged();
            });
        }, null, 0, 1000 * 60);
    }

    void MensajeRecibido(object senser, string e)
    {
        mensaje = e;
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    void EnviarAngulo()
    {

        EnviarComando("S" + angulo);
    }

    void EnviarComando(string comando)
    {
        mqtt.EnviarComando(comando);
    }
}